body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 2px solid black;
    height: 639px;  /* step = 7px, 7x90 + (7(step)+2(margin)) => 7x90 + 9 */
    width: 905px;  /* step = 7px, 7x128 + (7(step)+2(margin)) => 7x128 + 9 */
    background-color: azure;
    position: relative;
}

.snake {
    border: 1px solid black;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 0;
    left: 0;
}